.snow {
    background-color: transparent;
    background-image: url(../img/snow/snow1.png);
    -webkit-animation: snow 20s linear infinite;
    -moz-animation: snow 20s linear infinite;
    -ms-animation: snow 20s linear infinite;
    animation: snow 20s linear infinite;
    z-index: 1;
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;
    margin-top: 0;
    pointer-events: none;
    position: absolute;
}

/*Keyframes*/

@keyframes snow {
    0% {
        background-position: 0px 0px, 0px 0px, 0px 0px
    }

    100% {
        background-position: 500px 1000px, 400px 400px, 300px 300px
    }
}

@-moz-keyframes snow {
    0% {
        background-position: 0px 0px, 0px 0px, 0px 0px
    }

    100% {
        background-position: 500px 1000px, 400px 400px, 300px 300px
    }
}

@-webkit-keyframes snow {
    0% {
        background-position: 0px 0px, 0px 0px, 0px 0px
    }

    100% {
        background-position: 500px 1000px, 400px 400px, 300px 300px;
    }
}

@-ms-keyframes snow {
    0% {
        background-position: 0px 0px, 0px 0px, 0px 0px
    }

    100% {
        background-position: 500px 1000px, 400px 400px, 300px 300px
    }
}