body,
html {
  overflow-x: hidden
}

body {
  background-repeat: repeat;
  font-family: "Mukta Mahee", arial, sans-serif;
  font-weight: 200;
  font-size: 18px;
  line-height: 1.8;
  color: #000
}

::-moz-selection {
  color: #fff;
  background: #65c0ba
}

::selection {
  color: #000;
  background: #65c0ba
}

.south_blue {
  color: #303c88
}

.south_red {
  color: #8a000d
}

img {
  border-radius: 2%;
  width: 100%;
  height: auto
}

.sponsor_img {
  margin: 0 auto;
  height: auto;
  width: 90%
}

@font-face {
  font-family: fontello;
  src: url(../fonts/fontello/font/fontello.eot);
  src: url(../fonts/fontello/font/fontello.eot) format('embedded-opentype'), url(../fonts/fontello/font/fontello.woff) format('woff'), url(../fonts/fontello/font/fontello.ttf) format('truetype'), url(../fonts/fontello/font/fontello.svg) format('svg');
  font-weight: 400;
  font-style: swap
}

.icon {
  font-family: fontello;
  font-style: normal;
  font-weight: 400;
  speak: never;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: .2em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}

a {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
  text-decoration: none;
  color: #006bc1
}

a:hover {
  text-decoration: none;
  color: #ff6b6b
}

.quoteDisplay {
  color: #8b5503
}

h1,
h2,
h3,
h4,
h5 {
  color: #333;
  font-family: "Abril Fatface", times, serif
}

.text-justify {
  text-align: justify
}

.container-fluid {
  max-width: 1600px
}

.slight-shadow {
  border-radius: 20px;
  background-color: whitesmoke;
  padding: 1.5em
}

.btn {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 4px
}

.btn.btn-outline-light {
  border-width: 2px
}

.btn.uppercase {
  text-transform: uppercase;
  font-size: 15px;
  letter-spacing: .2em
}

.btn.btn-primary {
  background: 0;
  border-width: 2px
}

.btn.btn-primary:hover {
  background: #65c0ba
}

.btn {
  outline: 0;
  -webkit-box-shadow: none !important;
  box-shadow: none !important
}

.btn:active,
.btn:focus {
  outline: 0
}

.animsition,
.animsition-overlay {
  position: relative;
  opacity: 0;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both
}

.animsition-loading,
.animsition-loading:after {
  width: 32px;
  height: 32px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -16px;
  margin-left: -16px;
  border-radius: 50%;
  z-index: 2
}

.animsition-loading {
  background-color: transparent;
  border-top: 5px solid rgba(255, 5, 5, .452);
  border-right: 5px solid rgba(253, 36, 188, .644);
  border-bottom: 5px solid rgba(38, 0, 255, .404);
  border-left: 5px solid rgba(255, 255, 255, .514);
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-duration: .2s;
  animation-duration: .2s;
  -webkit-animation-name: animsition-loading;
  animation-name: animsition-loading
}

@-webkit-keyframes animsition-loading {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0)
  }

  to {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn)
  }
}

@keyframes animsition-loading {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0)
  }

  to {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn)
  }
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0
  }

  to {
    opacity: 1
  }
}

@keyframes fade-in {
  0% {
    opacity: 0
  }

  to {
    opacity: 1
  }
}

.fade-in {
  -webkit-animation-name: fade-in;
  animation-name: fade-in
}

@-webkit-keyframes fade-out {
  0% {
    opacity: 1
  }

  to {
    opacity: 0
  }
}

@keyframes fade-out {
  0% {
    opacity: 1
  }

  to {
    opacity: 0
  }
}

.fade-out {
  -webkit-animation-name: fade-out;
  animation-name: fade-out
}

@keyframes rubberBand {
  from {
    transform: scale3d(1, 1, 1)
  }

  30% {
    transform: scale3d(1.25, .75, 1)
  }

  40% {
    transform: scale3d(.75, 1.25, 1)
  }

  50% {
    transform: scale3d(1.15, .85, 1)
  }

  65% {
    transform: scale3d(.95, 1.05, 1)
  }

  75% {
    transform: scale3d(1.05, .95, 1)
  }

  to {
    transform: scale3d(1, 1, 1)
  }
}

.rubberBand {
  animation-name: rubberBand
}

.animated {
  animation-duration: 1s;
  animation-fill-mode: both
}

.animated.infinite {
  animation-iteration-count: infinite
}

.site-header {
  position: absolute;
  top: 0;
  width: 100%;
  padding: 15px 0;
  z-index: 2
}

.line-height1 {
  line-height: 1
}

.site-logo a {
  font-size: 30px;
  color: #fff;
  font-weight: 700;
  line-height: 1;
  font-family: unset;
  text-shadow: -2px 2px 0 #4b5282, -3px 3px 0 #424b87, -4px 4px 0 #303c88;
  -webkit-transition: all .5s ease-out;
  transition: all .5s ease-out;
  animation: txtshd 2.7s cubic-bezier(.68, -.55, .27, 1.55);
  -webkit-animation: txtshd 2.7s cubic-bezier(.68, -.55, .27, 1.55)
}

@keyframes txtshd {
  from {
    text-shadow: none
  }

  to {
    text-shadow: -2px 2px 0 #4b5282, -3px 3px 0 #424b87, -4px 4px 0 #303c88
  }
}

@-webkit-keyframes txtshd {
  from {
    text-shadow: none
  }

  to {
    text-shadow: -2px 2px 0 #4b5282, -3px 3px 0 #424b87, -4px 4px 0 #303c88
  }
}

.site-navbar {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #343a40;
  min-height: 300px;
  overflow-y: hidden
}

.site-navbar nav {
  text-align: center
}

.site-navbar nav .menu {
  font-family: "Abril Fatface", times, serif
}

.site-navbar nav .menu li a {
  color: #f5f5f5;
  font-size: 40px;
  padding: 5px 10px;
  position: relative
}

.site-navbar nav .menu li a:hover {
  color: #26c4e4
}

.site-navbar nav .menu li.active a {
  color: #26c4e4
}

.site-navbar nav .menu li.active a:before {
  width: 100%
}

.full-height {
  height: 100vh;
  min-height: 700px
}

.site-hero {
  background-size: cover;
  background-position: center center;
  height: 100vh;
  min-height: 700px;
  width: 100%
}

.site-hero .scroll-down {
  position: absolute;
  bottom: 30px;
  font: bolder;
  left: 50%;
  text-align: center;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  text-transform: uppercase;
  font-size: .4em;
  color: #f35626
}

.site-hero .scroll-down>span {
  position: relative;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  font-size: 13px;
  display: block
}

.site-hero.overlay:before {
  background: rgba(0, 0, 0, .25);
  content: "";
  position: absolute;
  height: 100vh;
  min-height: 700px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  animation: bkunshadow 2s linear;
  -webkit-animation: bkunshadow 2s linear
}

@keyframes bkunshadow {
  from {
    background: rgba(255, 255, 255, .5)
  }

  to {
    background: rgba(0, 0, 0, .25)
  }
}

@-webkit-keyframes bkunshadow {
  from {
    background: rgba(255, 255, 255, .5)
  }

  to {
    background: rgba(0, 0, 0, .25)
  }
}

.site-hero .btn-primary {
  color: #fff
}

.site-hero-inner {
  height: 100vh;
  min-height: 700px
}

.site-hero-inner .heading {
  font-size: 80px;
  font-family: "Abril Fatface", times, serif;
  color: #fff;
  line-height: 1;
  font-weight: 700
}

@media(max-width:991.98px) {
  .site-hero-inner .heading {
    font-size: 40px
  }
}

@media(max-width:555px) {
  .index-pre-hero {
    display: none;
    visibility: hidden
  }
}

.site-hero-inner .sub-heading {
  font-size: 30px;
  font-weight: 200;
  color: #fff;
  line-height: 1.5
}

@media(max-width:991.98px) {
  .site-hero-inner .sub-heading {
    font-size: 18px
  }
}

.site-hero-inner .sub-heading a {
  border-bottom: 2px solid rgba(255, 255, 255, .1);
  color: rgba(255, 255, 255, .5)
}

.site-hero-inner .sub-heading a:hover {
  color: #fff;
  border-bottom: 2px solid #fff
}

.page-inside,
.page-inside .site-hero-inner {
  height: 70vh;
  min-height: 500px
}

.page-inside.overlay:before {
  height: 70vh;
  min-height: 500px
}

.site-menu-toggle {
  float: right;
  width: 40px;
  height: 45px;
  position: relative;
  margin: 0 auto;
  z-index: 200;
  -webkit-transform: rotate(0);
  -moz-transform: rotate(0);
  -o-transform: rotate(0);
  -ms-transform: rotate(0);
  transform: rotate(0);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer
}

.three-line-menu {
  position: fixed;
  right: 15px;
  top: 15px
}

.site-menu-toggle span {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background: #000;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0);
  -moz-transform: rotate(0);
  -o-transform: rotate(0);
  -ms-transform: rotate(0);
  transform: rotate(0);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out
}

.site-menu-toggle span:nth-child(1) {
  top: 0;
  background: linear-gradient(92deg, #f35626, #feab3a);
  background: -webkit-linear-gradient(92deg, #f35626, #feab3a);
  animation: hue 40s infinite linear;
  -webkit-animation: hue 40s infinite linear
}

.site-menu-toggle span:nth-child(2) {
  top: 10px;
  background: linear-gradient(62deg, #f35626, #feab3a);
  background: -webkit-linear-gradient(72deg, #f35626, #feab3a);
  animation: hue 40s infinite linear;
  -webkit-animation: hue 40s infinite linear
}

.site-menu-toggle span:nth-child(3) {
  top: 20px;
  background: linear-gradient(32deg, #f35626, #feab3a);
  background: -webkit-linear-gradient(32deg, #f35626, #feab3a);
  animation: hue 40s infinite linear;
  -webkit-animation: hue 40s infinite linear
}

@keyframes hue {
  from {
    filter: hue-rotate(0)
  }

  to {
    filter: hue-rotate(360deg)
  }
}

@-webkit-keyframes hue {
  from {
    -webkit-filter: hue-rotate(0)
  }

  to {
    -webkit-filter: hue-rotate(360deg)
  }
}

.section {
  padding: 4em 0 4em 0
}

@media(max-width:991.98px) {
  .section {
    padding: 3em 0
  }
}

@media(max-width:991.98px) {
  .lead {
    font-size: 16px
  }
}

.primary-bg-text p {
  color: rgba(255, 255, 255, .7)
}

.bg-light {
  position: relative;
  overflow: hidden;
  background: #65c0ba !important
}

.bg-light:before {
  content: "";
  position: absolute;
  top: 0;
  height: 400px;
  width: 150%;
  left: 50%;
  background: #fff;
  -webkit-transform: rotate(-4deg) translateX(-50%) translateY(-100%);
  -ms-transform: rotate(-4deg) translateX(-50%) translateY(-100%);
  transform: rotate(-4deg) translateX(-50%) translateY(-100%)
}

.bg-light-2 {
  background: #fafafa;
  border-top: 1px solid #e0e0e0
}

.btn-play .icon {
  width: 50px;
  height: 50px;
  position: relative;
  border: 2px solid #e6e6e6;
  border-radius: 50%;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease
}

.btn-play .icon>span {
  position: absolute;
  top: 50%;
  left: 55%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease
}

.btn-play .text {
  text-transform: uppercase;
  letter-spacing: .1em;
  font-weight: 700
}

.btn-play:hover .icon {
  border-color: #1a1a1a
}

.btn-play:hover .icon span {
  color: #000
}

.heading-serif,
.slider-section .heading,
.testimonial-section .heading {
  font-size: 70px;
  font-family: "Abril Fatface", times, serif;
  line-height: 1;
  margin-bottom: 30px
}

@media(max-width:991.98px) {

  .heading-serif,
  .slider-section .heading,
  .testimonial-section .heading {
    font-size: 40px
  }
}

.slider-section {
  position: relative
}

.half .image,
.half .text {
  width: 50%;
  border-radius: 3%
}

@media(max-width:991.98px) {

  .half .image,
  .half .text {
    width: 100%;
    border-radius: 3%
  }
}

.half .image {
  background-size: cover;
  background-position: center center;
  border-radius: 3%
}

@media(max-width:991.98px) {
  .half .image {
    height: 300px;
    border-radius: 3%
  }
}

.half .text {
  padding: 100px 7%
}

@media(max-width:991.98px) {
  .half .text {
    padding-top: 50px;
    padding-bottom: 50px
  }
}

.half .text h2 {
  font-size: 40px
}

@media(max-width:991.98px) {
  .half .text h2 {
    font-size: 30px
  }
}

.testimonial blockquote {
  padding: 0
}

.testimonial blockquote p {
  line-height: 1.5;
  font-family: "Mukta Mahee", arial, sans-serif;
  font-size: 20px;
  color: #000;
  font-style: italic
}

.testimonial .author-image img {
  width: 70px
}

.rounded-circle {
  border-radius: 50% !important
}

.owl-carousel .owl-item {
  opacity: .4
}

.owl-carousel .owl-item.active {
  opacity: 1
}

.owl-carousel .owl-nav {
  position: absolute;
  top: 50%;
  width: 100%
}

.owl-carousel .owl-nav .owl-prev,
.owl-carousel .owl-nav .owl-next {
  position: absolute;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  margin-top: -10px
}

.owl-carousel .owl-nav .owl-prev:hover,
.owl-carousel .owl-nav .owl-prev:focus,
.owl-carousel .owl-nav .owl-prev:active,
.owl-carousel .owl-nav .owl-next:hover,
.owl-carousel .owl-nav .owl-next:focus,
.owl-carousel .owl-nav .owl-next:active {
  outline: 0
}

.owl-carousel .owl-nav .owl-prev span:before,
.owl-carousel .owl-nav .owl-next span:before {
  font-size: 40px
}

.owl-carousel .owl-nav .owl-prev {
  left: 30px !important
}

.owl-carousel .owl-nav .owl-next {
  right: 30px !important
}

.owl-carousel .owl-dots {
  text-align: center
}

.owl-carousel .owl-dots .owl-dot {
  border-width: 2px !important;
  width: 10px;
  height: 10px;
  margin: 5px;
  border-radius: 50%
}

.owl-carousel.home-slider {
  z-index: 1;
  position: relative
}

.owl-carousel.home-slider .owl-nav {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease
}

.owl-carousel.home-slider .owl-nav button {
  color: #fff
}

.owl-carousel.home-slider .slider-item {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: calc(100vh - 117px);
  min-height: 700px;
  position: relative
}

.owl-carousel.home-slider .owl-dots {
  position: absolute;
  bottom: 100px;
  width: 100%
}

.owl-carousel.home-slider .owl-dots .owl-dot {
  width: 10px;
  height: 10px;
  margin: 5px;
  border-radius: 50%;
  border: 2px solid transparent;
  outline: none !important;
  position: relative;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
  background: #fff
}

.owl-carousel.home-slider .owl-dots .owl-dot.active {
  border: 2px solid white;
  background: 0
}

.owl-carousel.major-caousel {
  -webkit-box-shadow: 0 10px 70px -10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 10px 70px -10px rgba(0, 0, 0, 0.2)
}

.owl-carousel.major-caousel .owl-stage-outer {
  padding-top: 0 !important;
  padding-bottom: 0 !important
}

.owl-carousel.major-caousel .owl-stage-outer {
  padding-top: 30px;
  padding-bottom: 30px
}

.owl-carousel.major-caousel .slider-item {
  height: inherit;
  min-height: inherit
}

.owl-carousel.major-caousel .slider-item img {
  margin-bottom: 0
}

.owl-carousel.major-caousel .owl-nav {
  opacity: 1;
  visibility: visible
}

.owl-carousel.major-caousel .owl-nav .owl-prev,
.owl-carousel.major-caousel .owl-nav .owl-next {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
  color: #495057
}

.owl-carousel.major-caousel .owl-nav .owl-prev:hover,
.owl-carousel.major-caousel .owl-nav .owl-prev:focus,
.owl-carousel.major-caousel .owl-nav .owl-next:hover,
.owl-carousel.major-caousel .owl-nav .owl-next:focus {
  color: #6c757d;
  outline: 0
}

.owl-carousel.major-caousel .owl-nav .owl-prev.disabled,
.owl-carousel.major-caousel .owl-nav .owl-next.disabled {
  color: #dee2e6
}

.owl-carousel.major-caousel .owl-nav .owl-prev {
  left: -60px !important
}

.owl-carousel.major-caousel .owl-nav .owl-next {
  right: -60px !important
}

.owl-carousel.major-caousel .owl-dots {
  bottom: 50px !important
}

@media(max-width:991.98px) {
  .owl-carousel.major-caousel .owl-dots {
    bottom: 10px !important
  }
}

.footer-section {
  background: #060b27;
  color: #fff;
  border-radius: 2% 2% 0 0
}

.footer-section h3 {
  color: #ffd0c1;
  font-size: 18px;
  margin-bottom: 20px
}

.footer-section a {
  color: #fff
}

.footer-section a:hover {
  color: #fff
}

.footer-section p {
  color: #fff
}

.footer-section .bordertop {
  border-top: 1px solid rgba(255, 255, 255, .1);
  padding-top: 20px
}

.footer-section .contact-info span.d-block {
  font-style: italic;
  color: #fff
}

.footer-section .social a {
  font-size: 18px;
  padding: 10px
}

.footer-section .link li {
  margin-bottom: 10px
}

.contact-section .contact-info p {
  font-family: "Abril Fatface", times, serif;
  color: #000;
  font-size: 30px;
  margin-bottom: 30px
}

.contact-section .contact-info p .d-block {
  font-size: 14px;
  letter-spacing: .2em;
  font-family: "Mukta Mahee", arial, sans-serif;
  text-transform: uppercase;
  color: #65c0ba;
  font-weight: 700
}